# Real Estate Pricing Tier Classification by Thai, Laxmi, and Daniel

### Data Cleaning & Preparation - Thai

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [12]:
# Remove irrelevant columns, handle missing values, and convert categorical to numerical

# Load the dataset
real_estate = pd.read_csv('realtor-data.zip.csv')

# Print the first few rows of the original dataset
print("Original dataset:")
print(real_estate.head())

# Print all columns in the original dataset
print("\nAll columns in the original dataset:")
print(real_estate.columns)

# Display the data types of each column
print("\nData types of each column:")
print(real_estate.dtypes)

# Check the dimensions of the dataset
print("\nNumber of rows and columns in the dataset:", real_estate.shape)

# Check for missing values
print("\nMissing values in the dataset:")
print(real_estate.isnull().sum())

# Remove rows with missing values
real_estate.dropna(inplace=True)

# Remove irrelevant columns
real_estate.drop(['prev_sold_date'], axis=1, inplace=True)

# Define the list of categorical columns (optional based on algorithms)
# categorical_columns = ['status', 'city', 'state']  # Add more columns if needed

# Convert categorical variables into numerical representations using Label Encoding
# label_encoder = LabelEncoder()
# for col in categorical_columns:
    # real_estate[col] = label_encoder.fit_transform(real_estate[col])

# Define a dictionary to map old column names to new column names for the columns to be renamed
column_mapping = {
    'acre_lot': 'lot_size',
    'zip_code': 'zipcode',
    'price': 'sales_price'
}

# Rename specified columns using the defined mapping
real_estate.rename(columns=column_mapping, inplace=True)

# Print cleaned dataset
print("\nCleaned dataset:")
print(real_estate.head())

# Print the last few rows of the cleaned dataset
print("\nLast few rows of the cleaned dataset:")
print(real_estate.tail())

# Print the number of rows in the cleaned dataset
print("\nNumber of rows in the cleaned dataset:", real_estate.shape)

# Save the cleaned dataset
real_estate.to_csv('cleaned_realtor_data.csv', index=False)

Original dataset:
     status  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2  for_sale  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0   2.0      0.10       Ponce  Puerto Rico     731.0
4  for_sale  6.0   2.0      0.05    Mayaguez  Puerto Rico     680.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0

All columns in the original dataset:
Index(['status', 'bed', 'bath', 'acre_lot', 'city', 'state', 'zip_code',
       'house_size', 'prev_sold_date', 'price'],
      dtype='object')

Data types of each column:
status             object
bed               float64
bath              float64
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
price             float64
dtype: object

Number of rows and columns in the dataset: (3520686, 10)

Missing values in the dataset:
status                  0
bed                682299
bath               717098
acre_lot           718905
city                  473
state                   0
zip_code              692
house_size        1048289
prev_sold_date    1682153
price                1730
dtype: int64

Cleaned dataset:
        status  bed  bath  lot_size    city        state  zipcode  house_size  \
829   for_sale  7.0   3.0      0.09  Dorado  Puerto Rico    949.0      1192.0
3380  for_sale  7.0   3.0      0.09  Dorado  Puerto Rico    949.0      1192.0
5083  for_sale  7.0   3.0      0.09  Dorado  Puerto Rico    949.0      1192.0
5387  for_sale  7.0   3.0      0.09  Dorado  Puerto Rico    949.0      1192.0
9053  for_sale  7.0   3.0      0.09  Dorado  Puerto Rico    949.0      1192.0

      sales_price
829      110000.0
3380     110000.0
5083     110000.0
5387     110000.0
9053     110000.0

Last few rows of the cleaned dataset:
           status  bed  bath  lot_size        city    state  zipcode  \
3520675  for_sale  3.0   2.0      0.23  Palm Coast  Florida  32164.0
3520676  for_sale  4.0   3.0      0.32  Palm Coast  Florida  32164.0
3520677  for_sale  4.0   2.0      0.23  Palm Coast  Florida  32164.0
3520678  for_sale  3.0   2.0      0.29  Palm Coast  Florida  32164.0
3520679  for_sale  3.0   2.0      0.23  Palm Coast  Florida  32164.0

         house_size  sales_price
3520675      1552.0     309990.0
3520676      3043.0     589000.0
3520677      2348.0     525000.0
3520678      1399.0     345000.0
3520679      1409.0    1650000.0

Number of rows in the cleaned dataset: (1199416, 9)

### Exploratory Data Analysis - Laxmi