# Real Estate Pricing Tier Classification by Thai, Laxmi, and Daniel

### Data Cleaning & Preparation - Thai

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np

In [7]:
# Load the dataset
df = pd.read_csv('realtor-data.zip.csv')

# Inspect the data
print(df.head())
print(df.info())

# Remove columns that are irrelavant
df.drop(['status', 'prev_sold_date'], axis=1, inplace=True)

# Handle missing values for numerical columns by imputing with the median
numerical_columns = ['bed', 'bath', 'acre_lot', 'house_size', 'price']
df[numerical_columns] = df[numerical_columns].apply(lambda x: x.fillna(x.median()), axis=0)

# Assuming 'city' and 'state' are the only categorical columns with missing values
# Handle missing values for categorical columns by imputing with the mode (most common value)
categorical_columns = ['city', 'state']
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]), axis=0)

# Recheck info
print(df.info())

# Save the cleaned dataset
df.to_csv('clean-realtor-data.zip.csv', index=False)

     status  bed  bath  acre_lot        city        state  zip_code  \
0  for_sale  3.0   2.0      0.12    Adjuntas  Puerto Rico     601.0
1  for_sale  4.0   2.0      0.08    Adjuntas  Puerto Rico     601.0
2  for_sale  2.0   1.0      0.15  Juana Diaz  Puerto Rico     795.0
3  for_sale  4.0   2.0      0.10       Ponce  Puerto Rico     731.0
4  for_sale  6.0   2.0      0.05    Mayaguez  Puerto Rico     680.0

   house_size prev_sold_date     price
0       920.0            NaN  105000.0
1      1527.0            NaN   80000.0
2       748.0            NaN   67000.0
3      1800.0            NaN  145000.0
4         NaN            NaN   65000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520686 entries, 0 to 3520685
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   status          object
 1   bed             float64
 2   bath            float64
 3   acre_lot        float64
 4   city            object
 5   state           object
 6   zip_code        float64
 7   house_size      float64
 8   prev_sold_date  object
 9   price           float64
dtypes: float64(6), object(4)
memory usage: 268.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520686 entries, 0 to 3520685
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   bed         float64
 1   bath        float64
 2   acre_lot    float64
 3   city        object
 4   state       object
 5   zip_code    float64
 6   house_size  float64
 7   price       float64
dtypes: float64(6), object(2)
memory usage: 214.9+ MB
None

### Exploratory Data Analysis - Laxmi